
.theorem {
  background-color: #FFF;
  cursor: default;
  border: solid;
  border-width: 1px;
}

.math {
  text-align: center;
}

.proof {
  background-color: #FFF;
  cursor: default;
  border: solid;
  border-width: 1px;
}

.svg-container {
  text-align: center;
}

